@use 'sass:math';


*{
  margin: 0;
  padding: 0;
  background: black;
  color: #fdf0d5;
}



.white-font {
  color: #fdf0d5 !important;
  background-color: black;
}

// Quantity should be the same in PUG
$quantity: 15;
  
.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: drift 200s alternate infinite;
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  
  &::before {
    background: black;
    opacity: 0.4;
    animation: drift  ease alternate infinite;
  }
  
  &::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift  ease alternate infinite, flash  ease infinite;
  }
}

// Randomize Fireflies Motion
@for $i from 1 through $quantity {
  $steps: random(12) + 16;
  $rotationSpeed: random(10) + 8s;
  
  .firefly:nth-child(#{$i}) {
    animation-name: move#{$i};
    
    &::before {
      animation-duration: $rotationSpeed;
    }
    
    &::after {
      animation-duration: $rotationSpeed, random(6000) + 5000ms;
      animation-delay: 0ms, random(8000) + 500ms;
    }
  }
  
  @keyframes move#{$i} {
    @for $step from 0 through $steps {
      #{percentage($step * math.div(100, $steps) )} {
        transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(math.div(random(75), 100) + 0.25);
      }
    }
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}





























@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}